/* --- Desktop Styles --- */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.lang-toggle {
  margin: 9px;
}

.nav-menu-desktop {
  display: flex;
  gap: 32px;
}

.mobile-menu-btn, .nav-menu-mobile {
  display: none;
}

.actions-section {
    display: inline-flex !important;
    width: 200px;
    justify-content: flex-end;
}

/* --- Mobile Breakpoint (768px) --- */
@media (max-width: 768px) {
  .header-container {
    padding: 0 20px;
  }

  /* Escondemos lo que no va en la barra de Mobile */
  .nav-menu-desktop, .desktop-only {
    display: none !important
  }

  /* Activamos botón Hamburguesa y lo alineamos a la izquierda */
  .mobile-menu-btn {
    display: block;
    background: none;
    border: none;
    color: var(--text-main);
    font-size: 1.5rem;
    flex: 1;
    text-align: left;
    z-index: 1100;
  }

  /* Logo al centro */
  .logo-section {
    flex: 2;
    justify-content: center;
  }

  /* Idioma a la derecha */
  .actions-section {
    display: flex !important;
    flex: 1;
    justify-content: flex-end;
  }

  /* Menú Mobile (Columna) */
  .nav-menu-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--card-bg);
    padding: 30px;
    gap: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }

  .nav-menu-mobile.active {
    left: 0;
  }

  .nav-menu-mobile a {
    font-size: 1.2rem;
    color: var(--text-main);
    text-decoration: none;
    font-weight: 600;
  }

  .mobile-divider {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
  }

  .mobile-resume-link {
    background: none;
    border: none;
    color: var(--text-muted);
    font-size: 1.1rem;
    text-align: left;
    font-weight: 600;
    padding: 0;
  }

  .lang-toggle {
    margin: 0px;
  }
}


/* --- Logo --- */
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-icon {
  /* Adaptable al modo oscuro */
  background-color: var(--text-main);
  color: var(--bg-color);
  padding: 5px 8px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-main);
  letter-spacing: -0.5px;
}